//COLORS
$green: #378465;

//FONTS
$font-family-exo: 'Exo', 'Helvetica', Arial, sans-serif;

@font-face {
  font-family: 'Exo';
  src: url('../fonts/exo/Exo-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
